body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.square {
  background-image: url("bg.jpg");
  background-size: cover;
  aspect-ratio: 1/1;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  width: auto;
  height: 100vh;
  align-items: center;
}

.image-wrapper img {
  position: absolute;
  width: 100%;
}


#lampEffect {
	animation: lamp 2s 0s ease-in-out infinite;
	-o-animation: lamp 2s 0s ease-in-out infinite;
	-ms-animation: lamp 2s 0s ease-in-out infinite;
	-moz-animation: lamp 2s 0s ease-in-out infinite;
	-webkit-animation: lamp 2s 0s ease-in-out infinite;  
}

@keyframes lamp {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;					
	}

	100% {
		opacity: 0;		
	}	
}

#hows {
  opacity: 0;
  transition: all 1s ease;
}

#howto, #top, #middle, #bottom, #dot_1, #dot_2, #dot_3, #dot_4 {
  opacity: 0;
}

#greet {
  opacity: 0;
  transition: all 1s ease;
}

#macan {
  transform: translateY(100%);
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 200px;
  /* left: 50px; */
}

.animated-element {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  margin: 10px;
  /* display: none; */
  opacity: 0;
  transition: all 0.5s ease;
  animation: show-element 500ms ease infinite;
  /* animation-duration: 1s; */
}

@keyframes show-element {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
